:root {
  --font-size-base: 16px; /* Base para pantallas pequeñas */
  /* Fuentes principales */
  --font-primary: "Roboto", sans-serif;
  --font-heading: "Playfair Display", serif;
  --font-secondary: "Montserrat", sans-serif;

  /* Tamaños de fuentes */
  --font-size-base: 16px;

  /* Pesos de fuente */
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-semibold: 600;

  /* Tamaños de encabezados */
  --font-size-h1: 2.5rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.75rem;
  --font-size-h4: 1.5rem;
  --font-size-h5: 1.25rem;
  --font-size-h6: 1.1rem;

  /* Margen superior e inferior */
  --margin-h1: 48px;
  --margin-h2: 40px;
  --margin-h3: 32px;
  --margin-h4: 24px;
  --margin-h5: 16px;
  --margin-h6: 12px;

  --color-fondo: #f1fc83;
  --color-fondo2: #ebfb57;
  --color-fuente: #102441;
  --color-titulos: #030916;
}

p,
li {
  line-height: 1.5;
  font-family: var(--font-primary);
}

/* Títulos */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-bold);
}

hr {
  width: 80%;
  justify-self: center;
}

.titolo {
  text-align: center;
  margin-top: 10px;
}
* {
  padding: 0;
  margin: 0;
}
html {
  width: 100vw;
  padding: 0;
  margin: 0;
  font-size: var(--font-size-base);
}

body {
  width: 100%;
}

.titolujo {
  width: 75%;
  min-width: 250px;
  justify-content: center;
  padding-left: 8%;
}

.chiuj {
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0;
}

/* Lateral izquierdo */
.lateral {
  align-items: center;
  background-color: var(--color-titulos);
  color: white;
  position: sticky;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: row-reverse;
  transition: width 1s ease;
  width: 450px;
}

.lateral.oculto {
  width: 40px;
  min-width: 40px;
  transition: width 1s ease;
}

.lateral-izquierdo {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  height: 100%;
  width: 80%;
}

.lateral-izquierdo.oculto {
  width: 0;
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
}

.titolujo.oculto {
  display: none;
}

.ligujo.oculto {
  display: none;
}

.lateral-retoj {
  display: flex;
  align-items: start;
  justify-content: end;
  height: 100%;
  margin: 0;
  width: 40px;
}

.toggle-button {
  width: 40px;
  height: 40px;
  background-color: var(--color-titulos);
  color: white;
  font-size: 1.5rem;
  transform: rotate(0deg);
  transition: transform 1s ease;
  cursor: pointer;
  border: none;
}

.toggle-button.oculto {
  transform: rotate(180deg);
  transition: transform 1s ease;
}
a {
  text-decoration: none;
  color: inherit;
}

.active-link {
  background-color: yelow;
}
/* Lateral derecho */
.principal {
  width: 100%;
  background-color: var(--color-fondo);
  color: #aaaaaa;
  font-size: 22px;
  margin: 0;
  display: flex;
  flex-direction: column;
  transition: width 0.5s ease;
}

.principal-titolo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      to top,
      rgba(241, 252, 131, 1) 10%,
      /* Inicio con opacidad completa */ rgba(241, 252, 131, 0.8) 15%,
      /* Reducción gradual */ rgba(241, 252, 131, 0.3) 25%,
      /* Más transparencia */ rgba(241, 252, 131, 0) 100%
    ),
    url("biero.jpg");
  background-color: var(--color-fondo);
  width: 100%;
  height: 144px;
  margin: 0;
  padding: 0;
  color: var(--color-titulos);
}

.principal-retumilo {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-items: center;
  height: 75px;
}

.principal-retumilo > div {
  background-color: var(--color-fondo2);
  height: 48px;
  width: 250px;
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
  color: var(--color-titulos);
}

.principal-retumilo > div > p {
  text-align: center;
  justify-self: center;
  font-size: var(--font-size-base);
}
.birra-home {
  font-size: xx-large;
}
.flecha-izquierda::before {
  content: "";
  position: absolute; /* Posicionarlo dentro del div */
  top: 50%; /* Centrar verticalmente */
  left: -9px; /* Alinear al borde izquierdo */
  transform: translateY(
    -50%
  ); /* Ajustar posición para que quede perfectamente centrado */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 24px 10px 24px 0; /* Triángulo hacia la izquierda */
  border-color: transparent var(--color-fondo2) transparent transparent;
}

.flecha-derecha::after {
  content: "";
  position: absolute; /* Posicionarlo dentro del div */
  top: 50%; /* Centrar verticalmente */
  right: -9px; /* Alinear al borde derecho */
  transform: translateY(
    -50%
  ); /* Ajustar posición para que quede perfectamente centrado */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 24px 0 24px 10px; /* Triángulo hacia la derecha */
  border-color: transparent transparent transparent var(--color-fondo2); /* Mismo color que el fondo del div */
}

@keyframes slide-up {
  from {
    transform: translateY(10%);
    opacity: 0; /* Opcional: Para que empiece invisible */
  }
  to {
    transform: translateY(0);
    opacity: 1; /* Se vuelve completamente visible */
  }
}

.principal-korpo {
  width: 80%;
  max-width: 25cm;
  align-self: center;
  padding: 2%;
  background-color: var(--color-fondo);
  animation: slide-up 1s ease-out; /* Duración y suavizado */
  position: relative; /* Asegúrate de usar esto si el elemento necesita posicionamiento relativo */
  opacity: 0; /* Comienza invisible para suavizar la entrada */
  animation-fill-mode: forwards;
}

.principal h1 {
  color: var(--color-titulos);
  font-size: var(--font-size-h1);
  margin: 48px 0; /* Mayor margen para el título más importante */
}

.principal h2 {
  color: var(--color-titulos);
  font-size: var(--font-size-h2);
  margin: 40px 0; /* Margen ligeramente menor */
}

.principal h3 {
  color: var(--color-titulos);
  font-size: var(--font-size-h3);
  margin: 32px 0;
}

.principal h4 {
  color: var(--color-titulos);
  font-size: var(--font-size-h4);
  margin: 24px 0;
}

.principal h5 {
  color: var(--color-titulos);
  font-size: var(--font-size-h5);
  margin: 16px 0; /* Menor margen para el título menos importante */
}

.principal p {
  margin-bottom: 20px;
  color: var(--color-fuente);
}

.principal li {
  color: var(--color-fuente);
}

table {
  width: 85%;
  justify-self: center;
  border-collapse: collapse;
  table-layout: fixed;
  box-shadow: 2px 2px 8px #0004;
}
thead {
  background-color: var(--color-titulos);
  border-color: black;
  color: white;
  border-collapse: separate;
}

thead th:nth-child(1) {
  width: 25%;
}

thead th:nth-child(2) {
  width: 65%;
}

thead th:nth-child(3) {
  width: 10%;
}

td {
  padding-left: 1%;
  padding-right: 1%;
  color: var(--color-fuente);
}

td:first-child {
  font-weight: 1000;
}

th,
td {
  padding: 10px;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}
tbody tr:nth-child(odd) {
  background-color: var(--color-fondo2);
}

tbody tr:nth-child(even) {
  background-color: var(--color-fondo);
}

.ligujo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  justify-content: start;
  justify-items: end;
  margin-top: 20px;
}

.ligujo summary {
  background-color: var(--color-fuente);
  margin: 1%;
  width: 100%;
  height: 36px;
  text-align: start;
  display: flex;
  align-items: center;
  padding-left: 5%;
  font-family: var(--font-secondary);
  font-weight: 600;
}
.ligujo a {
  background-color: #10244180;
  margin: 1%;
  width: 100%;
  height: 36px;
  text-align: start;
  display: flex;
  align-items: center;
  padding-left: 5%;
  font-family: var(--font-secondary);
}

details {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

summary {
  cursor: pointer;
  width: 100%;
}

summary:hover {
  background-color: #1f447b;
}

.ligujo a:hover {
  background-color: #1f447b;
}

details[open] summary {
  background-color: #1f447b;
}
/* Flecha en contenido colapsado */
details summary::marker {
  content: "⮞";
  color: indigo;
  font-size: 1.5rem;
}

/* Flecha en contenido desplegado */
details[open] summary::marker {
  content: "⮟ ";
}
.enlaces {
  position: relative;
}

.profile-photo {
  width: 30%;
  border: 0.4375rem solid var(--color-titulos);
  height: auto;
  border-radius: 50%;
  margin: 0;
  overflow: hidden;
  justify-self: end;
}

.principal-index {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.principal-index p {
  width: 50%;
  align-self: center;
  justify-self: end;
  margin-left: 50px;
  margin-right: 50px;
}
@media (max-width: 768px) {
  .lateral {
    display: none;
  }
  .principal {
    margin: 0;
    padding: 0 10px;
    width: 100vw;
  }
  .principal-retumilo {
    display: none;
  }
  h1 {
    font-size: calc(var(--font-size-base) * 2);
  }
}
@media (min-width: 768px) {
  :root {
    --font-size-base: 18px; /* Base para pantallas medianas */
  }
}

@media (min-width: 1200px) {
  :root {
    --font-size-base: 20px; /* Base para pantallas grandes */
  }
}
